.main {
	width: 950px;
	margin: auto;
	background: #ffffff;
	}
	
.top {
	max-height: 611px;
	}
	
#vera {
	min-width: 418px;
	min-height: 611px;
	float: left;
	}
#headtext {
	min-height: 611px;
	padding-left: 440px;
	}
	
.terms {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin-top: -1px;
	background-color: #f6f7f8;
	padding-bottom: 20px;
	}
#termsLeft {
	width: 318px;
	clear: left;
	float: left;
	padding: 45px 50px 0 50px;
	}
#termsRight {
	padding-left: 440px;
	}
	
.cards {
	height: 500px;
	border-bottom: 1px solid #eaeaea;
	padding-top: 30px;
	padding-bottom: 40px;
	background: url(../images/cards-blue-bg.png) no-repeat;
	background-position: bottom;
	}
#cardPic {
	text-align: center;
	}
#cardsLeft {
	width: 318px;
	clear: left;
	float: left;
	padding: 0 50px;
	}
#cardsRight {
	padding-left: 440px;
	height: 100%;
	}

#logo {
	width: 200px;
	float: left;
	}
	
#text {
	padding-left: 225px;
	margin: 25px 0;
	}
	
.apps {
	padding: 20px 0;
	border-top: 1px solid #eaeaea;
	}

#ios {
	float: left;
	}
	
#android {
	padding-left: 300px;
	}