.main {
	width: 950px;
	margin: auto;
	background: #ffffff;
	}
	
#girl {
	width: 418px;
	height: 611px;
	float: left;
	}
	
#headtext {
	height: 611px;
	padding-left: 440px;
	}
	
.terms {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin-top: -1px;
	padding-bottom: 20px;
	background-color: #f6f7f8;
	}
	
#termsLeft {
	width: 318px;
	clear: left;
	float: left;
	padding: 50px 50px 0 50px;
	}
	
#termsRight {
	padding-left: 440px;
	}
	
.cards {
	height: 500px;
	border-bottom: 1px solid #eaeaea;
	padding-top: 30px;
	padding-bottom: 40px;
	background: url(../images/cards-blue-bg.png) no-repeat;
	background-position: bottom;
	}
	
#cardPic {
	text-align: center;
	}
	
#cardsLeft {
	width: 318px;
	clear: left;
	float: left;
	padding: 0 50px;
	}
	
#cardsRight {
	height: 100%;
	padding-left: 440px;
	}

#logo {
	width: 200px;
	float: left;
	}
	
#text {
	margin: 25px 0;
	padding-left: 225px;
	}
	
.apps {
	border-top: 1px solid #eaeaea;
	padding: 20px 0;
	}

#ios {
	float: left;
	}
	
#android {
	padding-left: 300px;
	}