.main {
	width: 950px;
	margin: auto;
	background: #ffffff;
	}
	
.top {
	max-height: 611px;
	}
	
#vera {
	min-width: 418px;
	min-height: 611px;
	float: left;
	}
#headtext {
	min-height: 611px;
	padding-left: 440px;
	}
	
.terms {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin-top: -1px;
	background-color: #f6f7f8;
	padding-bottom: 20px;
	}
#termsLeft {
	width: 318px;
	clear: left;
	float: left;
	padding: 45px 50px 0 50px;
	}
#termsRight {
	padding-left: 440px;
	}
	
.cards {
	border: 1px solid grey;
	}
#cardPic {
	border: 1px solid black;
	text-align: center;
	}
#cardsLeft {
	border: 1px solid blue;
	max-width: 200px;
	min-width: 120px;
	float: left;
	}
#cardsRight {
	border: 1px solid red;
	}
	
